:root {
    --bColor: rgb(4,28,58);
    --menuColor: rgb(23,61,132);
    --btnColor: rgb(188,118,3);
    --textColor: rgb(250, 250, 250);
    --topMargin: 50px;
}

html {
    height: 100%;
}

body {
    background-color: var(--bColor);
    color: var(--textColor);
    margin: 0px;
    height: 100%;
}

#container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: var(--topMargin);
}

#title {
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

#title h1{
    text-transform: uppercase;
}

#url {
    padding-left: var(--topMargin);
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 20px;
}

#url form {
    width: 80%;
}

#url_text {
    width: 60%;
}

#vis_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-left: auto;
    margin-right: auto; */
    height: 100%;
    width: 75%;
}

#vis_content h2 {
    margin-top: var(--topMargin);
}

#sites {
    display: flex;
    flex-direction: column;
    min-width: 25%;
    min-height: 100%;
    background-color: var(--menuColor);
    padding: 15px;
}

#sites div {
    margin-top: var(--topMargin);
    padding-left: 40px;
    text-transform: uppercase;
}

#sites ul {
    list-style-type: none;
}

#sites li {
    width: 80%;
}

#sites a {
    display: flex;
    color: var(--textColor);
    text-decoration: none;
    width: 100%;
}

#sites a:hover {
    background-color: var(--btnColor);
    border: 2px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}

.vis_text {
    text-align: center;
}

.filters {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.filters input button{
    border-radius: 5px;
}

.chart {
    margin-top: 30px;
    min-width: 60%;
}