<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
        {% block head %}{% endblock %}
    </head>
    <body>
        <div id="container">
            <div id="sites">
                <div>
                    <h3>Menu</h3>
                </div>
                <ul>
                    <li><a href="{{ url_for('index') }}">Add new post to db</a></li>
                    <li><a href="{{ url_for('day_of_week') }}">Avg reactions by days of week</a></li>
                    <li><a href="{{ url_for('months') }}">Avg reactions by months</a></li>
                    <li><a href="{{ url_for('hole_year') }}">Number of reactions by posts</a></li>
                </ul>
            </div>
            {% block body %}{% endblock %}
        </div>
    </body>
</html>