{% extends 'base.html' %}

{% block head %}
<title>Forteca app - dodaj wpis</title>
{% endblock %}

{% block body %}

<div id="content">
    <div id="title">
        <h1>Hello!</h1>
        <h2>This site is web app that you can use for keeping track of reactions under "234 WDH Forteca" fanpage posts</h2>
        <span>The ability to add new entries to the database was available here, but unfortunately, I had to move it. 
            I want to use this application on a daily basis, so I don't want entries that could disrupt the analysis to be included there.</span>
    </div>
    <div id="url">
        
    </div>
</div>

{% endblock %}