{% extends 'base.html' %}

{% block head %}
<title>Forteca app - wizualizacjia</title>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block body %}

<div id="visualization">
    <div id="sites">
        <div>
            <h3>Menu</h3>
        </div>
        <ul>
            <li><a href="{{ url_for('index') }}">Dodaj nowy post</a></li>
            <li><a href="{{ url_for('visualization') }}">Ilość likeów w dni tygodnia</a></li>
        </ul>
    </div>
    <div id="vis_content">
        <div>
            <h2>Dzień tygodnia, a średnia liczba likeów</h2>
        </div>
        <div>
            <h5>Filtrowanie daty wstawienia posta</h5>
            <form action="/visualization" method="POST">
                <label for="startDate">Od:</label>
                <input type="text" placeholder="rrrr-mm-dd" id="startDate" name="startDate">
                <label for="endDate">Do:</label>
                <input type="text" placeholder="rrrr-mm-dd" id="endDate" name="endDate">
                <input type="submit" value="Filtruj">
            </form>
            <a href="{{ url_for('visualization') }}"><button>Wyczyść filtry</button></a>
        </div>
        <div>
            <canvas id="myChart"></canvas>
        </div>
    </div>
</div>
<script>
    const labels = {{ labels | tojson }};
 
    console.log({{ labels | tojson }});
    console.log({{ data | tojson }});

    const data = {
        labels: labels,
        datasets: [{
            label: 'Sales',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: {{ data | tojson }}
        }]
    };

    const config = {
        type: 'line',
        data: data,
        options: { maintainAspectRatio: false }
    };

    const myChart = new Chart(
        document.getElementById('myChart'),
        config
    );

</script>


{% endblock %}